{% extends "base.html" %}

{% block title %}apiclock{% endblock %}

{% block page_content %}

    {% if added is defined %}
        <audio controls autoplay>
                <source src="{{ music }}" type="audio/mp3">
                Your browser does not support this audio format.
        </audio>
    {% else %}
        <audio controls autoplay>
                <source src="/{{ music }}" type="audio/mp3">
                Your browser does not support this audio format.
        </audio>
    {% endif %}

{% endblock %}
