{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Apiclock - Shows{% endblock %}

{% block page_content %}

<h1>{{ titre }} </H1>
<br/>
{% if shows %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Emission</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
        {% for show in shows %}
        <tr>
            <td> {{ show[0] }}</td>
            <td>
                <a href="{{ url_for('radio.local', radio=show[1]) }}"
                    class="btn btn-primary btn-sm active" role="button"> Jouer en local </a>
                <a href="{{ url_for('radio.distant', radio=show[1]) }}"
                    class="btn btn-primary btn-sm active" role="button"> Jouer en distant </a>
                <a href="{{ url_for('radio.podcast', action='donwload', urlpodcast=show[1], nompodcast=show[0]) }}"
                    class="btn btn-default btn-sm active" role="button"> Télécharger </a>
            </td>
        </tr>
        {% endfor %}
	</tbody>
</table>
{% endif %}

{% endblock %}