{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Apiclock - Config{% endblock %}


{% block page_content %}

<!-- <div class="bs-example add_media">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Config (complete form)</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
		    wtf.quick_form(form)
                </div>
            </div>
        </div>
    </div>
</div> -->


<h2>ACTUAL CONFIG</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for element in config %}
            <tr>
                <td>{{ element }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody
    </table>
<br/>

{% endblock %}
