<div class="section">
  <div class="container">

    <div class="row" >
      <div class="col-lg-4 col-md-4">
        <a href="#" sytle="text-decoration:none;">
            <img style="margin-left: 80px;" class="img-circle1" >
            <h3 sytle="text-decoration:none;"><i class="fa fa-file-text-o"></i> HOW TO </h3>
            <p>
             Let's YOUR Apiclok wakes you up
             <br/>the way YOU want
            </p>
        </a>
      </div>

      <div class="col-lg-4 col-md-4">
        <a href="#" sytle="text-decoration:none;">
            <img style="margin-left:80px;" class="img-circle2" >
            <h3 sytle="text-decoration:none;"><i class="fa fa-search"></i> FAQ </h3>
            <p>
            All you ever wanted to know about Apiclock
            <br/>without ever daring to ask</p>
        </a>
      </div>

      <div class="col-lg-4 col-md-4">
        <a href="#" sytle="text-decoration:none;">
            <img style="margin-left: 80px;" class="img-circle3">
            <h3 sytle="text-decoration:none;"><i class="fa fa-code"></i> IMPROOVE </h3>
            <p>
            Wanna improove yours ?
            <br/> Take part in it ?
            </p>
        </a>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.section -->
