{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Apiclock - Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <script language="javascript">//<![CDATA[
        $(document).ready(function() {
            $("#form1-radios").show();
            $("#form1-podcasts").hide();
            $("#form1-musics").hide();

            $("#form1-media").change(function() {
                if ($("#form1-media").val() == "1"){
                    $("#form1-radios").show();
                    $("#form1-podcasts").hide();
                    $("#form1-musics").hide();
                } else if ($("#form1-media").val() == "2") {
                   $("#form1-radios").hide();
                   $("#form1-podcasts").show();
                   $("#form1-musics").hide();
                } else if ($("#form1-media").val() == "3") {
                   $("#form1-radios").hide();
                   $("#form1-podcasts").hide();
                   $("#form1-musics").show();
                } else {
                   $("#form1-radios").hide();
                   $("#form1-podcasts").hide();
                   $("#form1-musics").hide();
                }
            });
        });
        //]]>
    </script>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <div style="margin-top:-50px;">
        <a href="{{ url_for('main.dashboard', action='1', musique='0') }}" class="btn btn-primary btn-lg active" role="button">Play</a>
        <a href="{{ url_for('main.dashboard', action='0', musique='0') }}" class="btn btn-default btn-lg active" role="button">Stop</a>
        <a href="{{ url_for('main.dashboard', action='2', musique='0') }}" class="btn btn-primary btn-lg active" role="button"> + Fort </a>
        <a href="{{ url_for('main.dashboard', action='3', musique='0') }}" class="btn btn-default btn-lg active" role="button"> - Fort </a>
    </div>
</div>


<div class="col-md-4">
    <h2>PLAY</h2>
    <form action="" method="post" class="form" role="form">
        {{ form1.hidden_tag() }}
        <div class="form-group" id="form1-medias"><label class="control-label" for="form1-media">{{ form1.media.label }}</label>
            <select class="form-control" id="form1-media" name="form1-media">
            {% for choice in form1.media.choices %}
                <option value="{{choice[0]}}">{{ choice[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="form1-radios"><label class="control-label" for="form1-radio">{{ form1.radio.label }}</label>
            <select class="form-control" id="form1-radio" name="form1-radio">
            {% for radio in form1.radio.choices %}
                {# set default selection if value ="Choose media" with id = 0' #}
                {% if radio[1] == 'Choose Radio' %}
                    <option value="{{radio[0]}}" selected="selected">{{ radio[1] }}</option>
                {% else %}
                    <option value="{{radio[0]}}">{{ radio[1] }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>

        <div class="form-group" id="form1-musics"><label class="control-label" for="form1-music">{{ form1.music.label }}</label>
            <select class="form-control" id="form1-music" name="form1-music">
                {% for music in form1.music.choices %}
                    {# set default selection if value ="Choose media" with id = 0' #}
                    {% if music[1] == 'Choose Media' %}
                        <option value="{{music[0]}}" selected="selected">{{ music[1] }}</option>
                    {% else %}
                        <option value="{{music[0]}}">{{ music[1] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-primary" id="form1-submit" name="form1-submit" type="submit" value="Jouer">
        <a href="{{ url_for('radio.index') }}" class="btn btn-success" role="button">Add media</a>
    </form>
</div>


<!--
<div class="col-md-4">
    <h2>SNOOZE2</h2>
    <form action="{{ url_for('main.dashboard') }}" method="post" class="form">
        {{ formsnooze.hidden_tag() }}
        <div class="form-group" id="radiosnoozes"><label class="control-label" for="media">{{ formsnooze.radiosnooze.label }}</label>
            <select class="form-control" id="radiosnooze" name="radiosnooze">
            {% for choice in formsnooze.radiosnooze.choices %}
                <option value="{{choice[0]}}">{{ choice[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="duree"><label class="control-label" for="radio">{{ formsnooze.minutessnooze.label }}</label>
            <select class="form-control" id="radio" name="radio">
            {% for radio in formsnooze.minutessnooze.choices %}
                <option value="{{radio[0]}}">{{ radio[1] }}</option>
            {% endfor %}
            </select>
        </div>
        {{ formsnooze.submitsnooze }}
        <input class="btn btn-default" type="submit" value="Snooze">
    </form>
</div>
<div class="col-md-4">
    <h2>PLAY</h2>
    {{ wtf.quick_form(form1) }}
</div> -->


<div class="col-md-4">
    <h2>SNOOZE</h2>
    {{ wtf.quick_form(formsnooze) }}
</div>


<div class="col-md-4">
    <h2>ALARMS</h2>
    Nous sommes {{ moment().format('dddd(E) - h:m') }}<br/>
    <br/>
    {% for alarm in alarms %}
        {{alarm.namealarme}}  //  {{alarm.days}} - {{alarm.startdate}} <br/>
    {% endfor %}
    <br/>
    <a href="{{ url_for('alarm.index') }}" class="btn btn-primary active" role="button">Add alarm</a>
    <a href="" class="btn btn-success" role="button">See all</a>
</div>

{% endblock %}
